@use '../../styles/variables' as *;
@use '../../styles/table' as *;

.table-page {
  .table-container {
    .table-scroll {
      .invoice-table {
        tbody {
          tr {
            &.row-status-approvato {
              background-color: rgba($color-success, 0.15);
            }

            &.row-status-rifiutato {
              background-color: rgba($color-danger, 0.15);
            }

            &.row-status-in_attesa {
              background-color: rgba($color-alert, 0.15);
            }

            td {
              // Terza riga: Totale a tutta larghezza
              &:nth-child(4) { grid-column: 1 / -1; } // Totale

              // Quarta riga: Stato e Note
              &:nth-child(5) { 
                grid-column: 2 / -1;
              } // Stato
              
              &:nth-child(6) { 
                grid-column: 2;

                &::before {
                  content: attr(data-label);
                  font-weight: $font-weight;
                  color: $color-text-primary;
                  margin-right: $spacing-xs;
                }

                .icon-note {
                  cursor: pointer;
                  font-size: $font-medium;
                }
              } // Note
            }
          }
        }

        @media (min-width: 768px) {
          tbody {
            tr {
              td {
                padding: $padding-sm;
              }
            }
          }
        }
      }
    }
  }
}