@use '../../styles/variables' as *;
@use '../../styles/table' as *;

.table-page {
  .table-container {
    .table-scroll {
      .invoice-table {
        tbody {
          tr {
            &.row-status-approvato {
              background-color: rgba($color-success, 0.15);
            }

            &.row-status-rifiutato {
              background-color: rgba($color-danger, 0.15);
            }

            &.row-status-in_attesa {
              background-color: rgba($color-alert, 0.15);
            }

            td {padding: $padding-sm;}
          }
        }
      }
    }
  }
}
