@use '../../styles/variables' as *;
@use '../../styles/table' as *;

.table-page {
  .table-container {
    .table-scroll {
      &.invoice-table {
        max-height: 70vh;

        .invoice-table {
          tbody {
            tr {
              td {
                &:nth-child(6) {
                  &.actions-cell {
                    margin-top: $spacing-xs;
                    padding: $padding-xs;
                    border-top: 1px solid #ccc;
                    grid-column: 1 / -1;

                    display: flex;
                    justify-content: center;
                    gap: $spacing-md;
                    flex-wrap: nowrap;

                    &::before { display: none; }

                    .icon-info,
                    .icon-approve,
                    .icon-notes,
                    .icon-reject {
                      cursor: pointer;
                      transition: color $transition-fast;
                      font-size: $font-medium;
                    }

                    .icon-notes { color: $color-note; &:hover { color: $color-note-hover; } }
                    .icon-info { color: $color-info; &:hover { color: $color-info-hover; } }
                    .icon-approve { color: $color-success; &:hover { color: $color-success-hover; } }
                    .icon-reject { color: $color-danger; &:hover { color: $color-danger-hover; } }

                    @media (min-width: 768px) {
                      margin-top: auto;
                      padding: $padding-sm;
                      border-top: none;
                      border-color: #ccc;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}