// Global base styles

@use 'variables' as *;

#root {
  font-family: $font-family-system;
  font-weight: $font-weight-xs;
  width: $width-90;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: $font-weight-sm;
  color: $color-primary;
  text-decoration: inherit;

  &:hover {
    color: $color-primary-hover;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: $font-title;
  line-height: 1.1;
}

button {
  border-radius: $border-radius;
  padding: 0.5rem 1rem;
  border: none;
  font-family: inherit;
  cursor: pointer;
  transition: border-color $transition-normal;
  background: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );

  &:hover {
    border-color: $color-primary-hover;
  }

  &:focus, &:active,
  &:focus-visible {
    outline: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: $color-bg-white;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: $color-bg-light;
  }
}