@use 'variables' as *;
@use 'mixins' as *;

// Stili comuni per tutti i modali
.modal-overlay {
  @include modal-overlay;
  background: $color-overlay;
}

.modal-content {
  @include modal-content;
  box-shadow: $shadow-md;
  border-radius: $border-radius;

  h3 {
    margin: 0 0 $spacing-md 0;
    font-size: $font-title;
    color: $color-text-primary;
  }

  .details {
    @include flex;
    flex-direction: column;
    border-top: 1px solid $color-border;

    p {
      @include flex;
      flex-direction: column;
      margin: 0;
      padding: $padding-xs;
      width: $width-80;
      color: $color-text-muted;
    }
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: $spacing-md;
    gap: 0.8rem;

    // Bottoni dei modali
    .btn-cancel {
      @include button-base;
      background: $color-bg-cancel-light;
      color: $color-text-primary;

      &:hover {
        background: $color-bg-cancel-light-hover;
      }
    }

    .btn-confirm {
      @include button-base;
      color: $color-bg-white;
    }
  }
}