.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 14px;
  max-width: 400px;
  width: 100%;
}

.modal-textarea {
  background: transparent;
  font-family: Arial, sans-serif;
  resize: none;
  color: black;
  height: 120px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 0.8rem;
  width: 95%;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-cancel {
  background: #888;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
}

.btn-confirm {
  background: #d93636;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
}

.btn-confirm:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
