@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.modal-overlay {
  @include modal-overlay;
}

.modal-content {
  @include modal-content;

  .modal-textarea {
    background: transparent;
    font-family: $font-family-primary;
    resize: none;
    color: black;
    height: 120px;
    padding: 10px;
    border-radius: $border-radius;
    width: 95%;

    &:focus-visible {
      outline: 0;
    }
  }

  .modal-actions {
    .btn-cancel,
    .btn-confirm {
      @include button-base;

      &.reject-modal {
        background: linear-gradient(
          to right,
          $color-danger-light,
          $color-danger-dark
        );

        @media (min-width: 768px) {
          &:hover {
            background: linear-gradient(
            to right,
            $color-danger-dark,
            $color-danger-light
          );
          }
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}