@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.modal-overlay {
  @include modal-overlay;
}

.modal-content {
  @include modal-content;
}

.btn-cancel,
.btn-confirm {
  @include button-base;

  &.confirm-modal {
    background: $color-success;

    &:hover {
      background: $color-success-hover;
    }
  }
}