@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.modal-overlay {
  @include modal-overlay;
}

.modal-content {
  @include modal-content;
}

.btn-cancel,
.btn-confirm {
  @include button-base;

  &.confirm-modal {
    background: linear-gradient(
      to right,
      $color-secondary-light,
      $color-secondary-dark
    );

    &:hover {
      background: linear-gradient(
        to right,
        $color-secondary-dark,
        $color-secondary-light
      );
    }
  }
}