@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.modal-overlay {
  @include modal-overlay;
}

.modal-content {
  @include modal-content;

  .modal-header {
    @include flex-center;
    justify-content: space-between;
    padding-bottom: $padding-xs;
    border-bottom: 1px solid $color-border;

    h3 {
      margin: 0;
      color: $color-primary;
    }

    .modal-close {
      background: none;
      font-size: 1rem;
      color: $color-danger;
      cursor: pointer;
      padding: 0;

      &:hover {
        color: $color-danger-hover;
      }
    }
  }
  
  .modal-body {
    @include flex;
    flex-direction: column;
    padding: $padding 0;

    .filter-group {
      margin-bottom: $spacing-md;

      &:last-child {margin-bottom: 0;}

      label {
        display: block;
        margin-bottom: $spacing-xs;
      }

      input[type="date"],
      input[type="text"],
      select {
        font-family: $font-family-primary;
        width: $width-95;
        padding: $padding-xs;
        background-color: transparent;
        color: $color-text-primary;
        border: 1px solid $color-border;

        &:focus {
          outline: none;
        }
      }

      select {
        width: $width-100;

        option {
          &[value="tutti"] {
            color: $color-text-primary;
          }

          &[value="approvato"] {
            color: $color-success;
          }

          &[value="rifiutato"] {
            color: $color-danger;
          }
        }
      }

      input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
    }
  }
  
  .modal-footer {
    @include flex;
    justify-content: flex-end;
    gap: $spacing-sm;
    padding-top: $padding;
    color: $color-text-primary;

    .btn-apply {
      color: $color-bg-white;
      background: linear-gradient(
        to right,
        $color-secondary-light,
        $color-secondary-dark
      );

      &:hover {
        background: linear-gradient(
          to right,
          $color-secondary-dark,
          $color-secondary-light
        );
      }
    }
  }
}