@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.modal-overlay {
  @include modal-overlay;
}

.modal-content {
  @include modal-content;

  .modal-header {
    @include flex-center;
    justify-content: space-between;
    padding-bottom: $padding-xs;
    border-bottom: 1px solid $color-border;

    h3 {
      margin: 0;
      color: $color-primary;
    }

    .modal-close {
      background: none;
      font-size: 1rem;
      color: $color-danger;
      cursor: pointer;
      padding: 0;

      &:hover {
        color: $color-danger-hover;
      }
    }
  }
  
  .modal-body {
    padding: $padding;

    .filter-group {
      margin-bottom: 1rem;

      &:last-child {margin-bottom: 0;}

      label {
        display: block;
        margin-bottom: 0.5rem;
      }

      input[type="date"],
      input[type="text"],
      select {
        width: 100%;
        padding: 0.5rem;
        background-color: transparent;
        color: $color-text-primary;
        border: 1px solid $color-border;

        &:focus {
          outline: none;
        }
      }

      input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1); // o change color filter
      }
    }
  }
  
  .modal-footer {
    @include flex;
    justify-content: flex-end;
    gap: 0.75rem;
    padding-top: $padding;
    color: $color-text-primary;

    .btn-apply {
      background: $color-success;
      color: $color-bg-white;

      &:hover {
        background: $color-success-hover;
      }
    }
  }
}