@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.login-page {
  @include flex-center;
  font-family: $font-family-primary;
  width: $width-100;
  height: 100vh;
  color: $color-text-light;
  align-items: flex-start;

  .login-container {
    @include flex;
    flex-direction: column;
    width: $width-100;
    max-width: 360px;
    background: $color-bg-white;
    margin-top: $spacing-md;
    padding: $padding;
    border-radius: $border-radius;
    box-shadow: $shadow-lg;
    gap: $spacing-md;

    .login-title {
      color: $color-primary;
      text-align: center;
      margin-bottom: $spacing-md;
      font-size: $font-big;

      .icon-user {
        margin-right: $spacing-sm;
      }
    }

    input {
      padding: $padding-sm;
      border: 1px solid $color-border;
      color: $color-text-light;
      border-radius: $border-radius;
      background-color: transparent;

      &:focus-visible {
        outline: none;
      }
    }

    .login-button {
      margin: 0 25%;
      padding: $padding-sm;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
      background: linear-gradient(
        to right,
        $color-primary-light,
        $color-primary-dark
      );

      &:hover {
        background: linear-gradient(
          to right,
          $color-primary-dark,
          $color-primary-light
        );
      }
    }
  }
}