@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.login-page {
  font-family: $font-family-primary;
  width: $width-100;
  height: 100vh;
  color: $color-text-light;
  @include flex-center;

  .login-container {
    @include flex;
    flex-direction: column;
    width: $width-100;
    max-width: 360px;
    background: $color-bg-white;
    padding: $padding-small;
    border-radius: $border-radius;
    box-shadow: $shadow-lg;
    gap: $spacing-md;

    .login-title {
      color: $color-primary;
      text-align: center;
      margin-bottom: $spacing-md;
      font-size: 22px;

      .icon-user {
        margin-right: $spacing-sm;
      }
    }

    input {
      padding: $padding-small;
      border: 1px solid $color-border;
      color: $color-text-light;
      border-radius: $border-radius;
      background-color: transparent;

      &:focus-visible {
        outline: none;
      }
    }

    .login-button {
      margin-top: $spacing-sm;
      padding: $padding-small;
      background: $color-primary;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;

      &:hover {
        background: $color-primary-hover;
      }
    }
  }
}