@use './styles/variables' as *;

.app-container {
  font-family: $font-family-primary;

  .app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    padding: $spacing-md;

    .app-user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: $width-100;
      margin-top: $spacing-xs;

      .app-username {
        margin-right: 12px;
      }

      .app-logout {
        padding: 6px 10px;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        background: $color-danger-light;

        svg {
          margin-right: $spacing-xs;
        }
      }
    }
  }
}