@use './styles/variables' as *;

.app-container {
  font-family: $font-family-primary;

  .app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    padding: $spacing-md;

    .app-user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: $width-100;
      margin-top: $spacing-xs;

      .app-username {
        margin-right: 12px;
      }

      .button-room {
        display: flex;
        gap: 0.5rem;
        
        .app-logout, .invoice-history {
          border: none;
          border-radius: $border-radius;
          cursor: pointer;
          background: $color-danger-light;
        
          span {
            display: none;
          }

          @media (min-width: 768px) {
            span {
              display: inline;
              margin-left: $spacing-xs;
            }
          }
        }

        .invoice-history {
          background: $color-primary;
        }
      }
    }
  }
}